:host
{
    padding-top: 1vh;
    padding-left: 5vw;
    width: 100%;
}
.historia
{
overflow-y: visible;
overflow-x: hidden;
height: 19%;
max-height: 19%;
}
.naglowek
{
    width: 90%;
    max-width: 90%;
    background-color: royalblue;
}
.naglowki
{
    text-align: center;
    display: inline-block;
}
.linia
{
    display: inline-block;
}
.linia1
{
width: 40%;
}
.linia2
{
width: 20%;
text-align: right;
}