:host
{
    padding-top: 1vh;
    padding-left: 1vw;
    padding-right: 1vw;
    width: 100%;
}
.historia,.historia1
{
overflow-y: visible;
overflow-x: hidden;
height: 20%;
max-height: 20%;
}
.historia1
{
height: 30%;
max-height: 30%;
}
.naglowek
{
    width: 100%;
    max-width: 100%;
    background-color: royalblue;
}
.naglowki
{
    text-align: center;
    display: inline-block;
}
.linia
{
    display: inline-block;
}
.linia0
{
width: 16%;
}
.linia1
{
width: 36%;
}
.linia2
{
width: 16%;
text-align: right;
}