<h4>Przelew</h4>
<button type="button" class="btn btn-primary btn-sm naglowki" (click)="GetKonta();">Aktualizuj użytkowników</button>
<div class="naglowki" style="padding: 8px;" >({{stankonta}})</div>
<div>Nadawca
  <select #nadawca class="form-control" (change)="callW(nadawca.value)" required>
    <option value="">wybierz</option>
    <option *ngFor="let pozycja of tabelaOk" [value]="pozycja.account">
      <span>({{pozycja.account}}) {{pozycja.firstName}} {{pozycja.lastName}} {{pozycja.account == pozycja.username ? ' ' : '('+pozycja.username+')'}}</span>
    </option>   
  </select>
 <div> Konto:  {{wysylajacy}}</div>
 </div>
<div>Odbiorca
  <select #odbiorca class="form-control" (change)="callO(odbiorca.value)" required>
    <option value="">wybierz</option>
    <option *ngFor="let pozycja of tabelaOk" [value]="pozycja.account">
      <span>({{pozycja.account}}) {{pozycja.firstName}} {{pozycja.lastName}} {{pozycja.password}}</span>
    </option>   
  </select>
  Konto:  {{odbierajacy}}
</div>
<div>
Wartość przelewu
<input type="number" class="form-control"  #Kwota (keyup)="onKeyKwota(Kwota.value)">
 Kwota {{kwota}}
</div>      
<div>
  Tytuł przelewu
  <input type="text" class="form-control"  #Tytul (keyup)="onKeyTytul(Tytul.value)">
   Tytuł {{tytul}}
</div>      
<button type="button" class="btn btn-primary btn-sm naglowki" (click)="Przelew();">Wykonaj przelew</button>
<div class="naglowki" style="padding: 8px;" >({{przelano}})</div>
<div class="historia">
  Historia przelewów
<div *ngFor="let pozycja of przelewy" [ngSwitch]="pozycja.operationType">
  <span *ngSwitchCase="'PayOut'"><span class="kol20c">wypłata</span></span>  
  <span *ngSwitchCase="'PayIn'"><span class="kol20c">wpłata</span></span>  
  <span *ngSwitchCase="'Out'"><span class="kol20c">przelew </span></span>  
  <span *ngSwitchCase="'In'"><span class="kol20c">przychód</span></span>
  <span *ngSwitchDefoult><span class="kol1"></span></span>  
   <span class="kol20r {{((pozycja.operationType == 'Out')||(pozycja.operationType == 'PayOut')) ? 'red':''}}">{{pozycja.amount | currency:' '}} zł.&nbsp;&nbsp;</span>
  <span class="kol20r">{{pozycja.accountPostTransaction | currency:' '}} zł.&nbsp;&nbsp;</span>
</div>
</div>