<div>
<div id="gora">
<h4> {{dyspozycjaText}} </h4>
</div>
<div class="form-group">
  <label for="odbiorca">{{odbiorcaText}} </label>
  <input type="text" class="form-control {{fokusodbiorca}}" id="odbiorca" readonly (click)= "zmienOdbiorca()" value = {{odbiorca}} >
</div>
<div class="form-group">
  <label for="tytul">{{tytulText}} </label>
  <input type="text" class="form-control {{fokustytul}}" id="tytul" readonly (click)= "zmienTytul()" value = {{tytul}}>
</div>

</div>
<div class="wplata">
<div class="form-group">
  <label for="zloty">{{zlText}} </label>
  <input type="text" class="form-control {{fokuszlote}}" id="zloty" readonly (click)= "zmienZl()" value = {{zlote}}>
</div>
<div class="form-group">
  <label for="grosze">{{grText}}</label>
  <input type="text" class="form-control {{fokusgrosze}}"  id="grosze" readonly (click)= "zmienGr()" value={{grosze}}>
</div>
</div>
<div>
  <h5>{{kwotaText}} &nbsp;&nbsp;{{wartosc | currency:" "}} zł.</h5> 
</div>
<div class="klw">
  <app-numeryczna (bufor)="import($event)" hidden = {{widocznoscnumeryczna}}></app-numeryczna>
  <app-klawisze (bufor)="import($event)" hidden = {{widocznoscklawisze}}></app-klawisze>
</div>